* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: white;
  main-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  background-color: #F7F7F7;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 95vh;
  background: url(../img/header-backgroundlogo.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 89%);
}
.hero__logo {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 150px;
  width: 170px;
}
.hero__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: #FFFFFF;
}
.title-first__main {
  display: block;
  font-weight: 500;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-animation-name: TopToBottom;
          animation-name: TopToBottom;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 25px;
  line-height: 48px;
  letter-spacing: 5px;
  -webkit-animation-name: RightToLeft;
          animation-name: RightToLeft;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 65px;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  padding: 15px 40px;
  background: white;
  border-radius: 50px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.btn:link:hover, .btn:visited:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.btn:link:hover::after, .btn:visited:hover::after {
  opacity: 0;
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
}
.btn:link:active, .btn:visited:active {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn:link::after, .btn:visited::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn_animated {
  -webkit-animation: BtnToUp 1s ease-out 0.7s;
          animation: BtnToUp 1s ease-out 0.7s;
}

@-webkit-keyframes BtnToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes BtnToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes TopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes TopToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 100vh;
}

.brand {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  text-decoration: none;
  border-radius: 20px;
}
.brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.brand:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.brand__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
}
.header__logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.header__nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav a:hover {
  color: #00aeff;
}
.header__nav a:hover::after {
  width: 100%;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__cart {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 2px solid transparent;
}
.header__cart:hover {
  color: #00aeff;
  border: 2px solid white;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
.header__cart svg {
  width: 24px;
  height: 24px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

.card {
  width: 280px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.card a {
  display: block;
  text-decoration: none;
  color: #111;
}
.card__img {
  width: 100%;
  aspect-ratio: 1/1;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.card__info {
  padding: 15px;
  text-align: center;
}
.card__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
.card__price {
  font-size: 14px;
  color: #444;
  font-weight: 500;
}

.catalog-hero {
  position: relative;
  background: #111;
  padding-top: 20px;
  margin-bottom: 80px;
}
.catalog-hero__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.banner {
  position: relative;
  height: 95vh;
}
.banner__box {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.banner__title {
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), 0 8px 20px rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.banner__title:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), 0 12px 25px rgba(0, 0, 0, 0.8);
}

.title-catalog {
  color: white;
  display: inline-block;
  text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 10px rgba(0, 0, 0, 0.7);
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.15));
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.15));
  font-family: "Montserrat", sans-serif;
}

.banner--nike {
  background: url(../img/nike_baner.jpg) center/cover no-repeat;
}

.banner--adidas {
  background: url(../img/adidas_baner.jpg) center/cover no-repeat;
}

.banner--newbalance {
  background: url(../img/new_balance_baner.jpg) center/cover no-repeat;
}

.banner--Jacquemus {
  background: url(../img/Jacquemus_baner.jpg) center/cover no-repeat;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  background: #000;
  padding: 90px 60px 30px;
  margin-top: 100px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__logo h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 8px;
  line-height: 1;
  text-shadow: 0 0 5px rgb(0, 150, 255), 0 0 20px rgba(0, 150, 255, 0.8), 0 0 40px rgba(0, 150, 255, 0.5);
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.footer__column h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.footer__column a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__column a:hover {
  color: white;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.footer__bottom {
  margin-top: 70px;
  text-align: center;
  color: #777;
  font-size: 14px;
}

.about-page {
  width: 100%;
  max-width: 1450px;
  margin: 140px auto 0;
  padding: 0 40px;
}

.about-page__top {
  margin-bottom: 90px;
}

.about-page__breadcrumb {
  font-size: 15px;
  color: #8f8f8f;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.about-page__main-title {
  font-size: 35px;
  font-weight: 700;
  color: #111;
  margin-bottom: 70px;
  letter-spacing: 2px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.about-page__logo {
  text-align: center;
}
.about-page__logo h2 {
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 10px;
  color: #000;
  line-height: 1;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.about-page__logo span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  letter-spacing: 8px;
  color: #444;
}

.about-story {
  margin-bottom: 120px;
}

.about-story__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #111;
  margin-bottom: 50px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.about-story__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-story__card {
  width: 380px;
  min-height: 300px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 30px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
  will-change: transform;
  transition-transform: 1s ease-out;
  transition-box-shadow: 1s ease-out;
}
.about-story__card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.14);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.14);
}
.about-story__card h3 {
  font-size: 20px;
  color: #111;
  margin-bottom: 25px;
  line-height: 1.4;
}
.about-story__card p {
  font-size: 18px;
  line-height: 1.9;
  color: #333;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
}

.about-assortment {
  margin-bottom: 120px;
}

.about-assortment__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #111;
  margin-bottom: 40px;
  text-shadow: 0 5px 18px rgba(0, 0, 0, 0.35);
}

.about-assortment__box {
  width: 100%;
  background: white;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  padding: 60px;
  text-align: center;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
  will-change: transform;
  transition-transform: 1s ease-out;
  transition-box-shadow: 1s ease-out;
}
.about-assortment__box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.14);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.14);
}
.about-assortment__box p {
  font-size: 18px;
  line-height: 1.8;
  color: #222;
  margin-bottom: 15px;
}

.about-benefits {
  margin-bottom: 120px;
}

.about-benefits__title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #111;
  margin-bottom: 50px;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.about-benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-benefits__card {
  width: 380px;
  min-height: 300px;
  background: white;
  border-radius: 25px;
  border: 1px solid #e5e5e5;
  padding: 30px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  will-change: transform;
  transition-transform: 1s ease-out;
  transition-box-shadow: 1s ease-out;
}
.about-benefits__card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.14);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.14);
}
.about-benefits__card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #111;
  margin-bottom: 25px;
}
.about-benefits__card p {
  font-size: 15px;
  line-height: 1.9;
  color: #333;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}